.title{
    margin-top: 200px;
    justify-content: center;
    text-align: center;
}

h3{
    font-size: 30px;
}





.perfiles{
    display:flex;
    justify-content: center;
    margin-bottom: 60px;
    align-items: center;
    gap: 100px;
    
}

.perfil-1{
    
    text-align: center;
    
}

.logo-linkedin{
    height: 35px;
}

.foto-1{
    border-radius: 50%;
}


b{
    font-size: 30px;
}



h2{
    font-family: "Bogue", sans-serif;
    font-size: 60px;
    text-align: center;
    
}


.mision-vision{
    display: flex;
    justify-content: center;
    height: 400px;
    text-align: center;
    gap: 300px;
    align-items: first baseline;
    margin-top: 30px;
 }

 .mision{
   
    max-width: 500px; /* Establece el ancho máximo de los divs */
    text-align: center;
    font-size: 25px;
    padding: 10px;

 }

 .frase-final{
    justify-content: center;
    align-items: center;
    display: flex;
   
    padding: 20px;
    color: #6D9898;
    font-weight: 430;
    font-size: 33px;
    text-align: center;
    height: 90px;
    width:100%;
 }